@font-face {
    font-family: 'badr';
    src: url("../fonts/BBadr.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hafs';
    src: url("../fonts/KFGQPCHAFSUthmanicScript-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zar';
    src: url("../fonts/IRZar.ttf");
    font-weight: normal;
    font-style: normal;
}

@keyframes animation {
  from {opacity: 0;}
  to {opacity: 1;}
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}

.anim {
    animation: animation 0.5s ease-in-out;
}

body {
    overflow: hidden;
    background-color: #000;
}

#body-length {
    background-color: rgb(203, 187, 158);
    background-image: url("../images/patern-background.png");
    background-size: cover;
    display: inline-block;
}

.partishen-general {
    background-color: #ffff;
    opacity: 60%;
    margin: 1% 3% 0 3%;
    border: 1px rgb(116, 0, 0) solid;
    border-radius: 10px;
}

.partishen {
    width: 21%;
    opacity: 60%;
    border-radius: 10px;
    border: 1px rgb(116, 0, 0) solid;
    background-color: #ffff;
    display: inline-block;
}

#logo {
    width: 15%;
    margin: 0.5% 0.5%;
    margin-bottom: 0;
}

.zar {
    font-family: "zar";
}

.hafs {
    font-family: "hafs";
}

.badr {
    font-family: "badr";
}

.select-type {
    margin: 1% 25%;
    border: 3px solid rgb(58 12 12);
    padding: 0.3% 1%;
    width: 50%;
    background-color: rgb(58 12 12 /100%);
    opacity: 100% !important;
    color: #ffff;
    border-radius: 5px;
}

.select-type:hover {
    background-color: rgb(58 12 12 / 0%);
    color: rgb(116, 0, 0);
}

.close-app {
    border: 3px solid rgb(58 12 12);
    padding: 0.3% 1%;
    background-color: rgb(58 12 12 /100%);
    color: #ffff;
    border-radius: 5px;
}

.close-app:hover {
    background-color: rgb(58 12 12 / 0%);
    color: rgb(116, 0, 0);
}

.titr {
    text-align: center;
}

.form-check-inline {
    display: inline;
}

/* The container */
.container {
  display: inline-block;
  position: relative;
  padding-left: 25%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 15%;
  left: 0;
  background-color: #eee;
  border-radius: 50%;
  border: rgb(116, 0, 0) 1px solid;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgb(116, 0, 0);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 20%;
	left: 20%;
	width: 60%;
	height: 60%;
	border-radius: 50%;
	background-color: white;
}

.bg_black_op {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 70%;
    display: inline-block;
    position: absolute;
    top: 0;
}

.winTwo , .generalPage , .tarjomeh , .nameGod , .endPage , .firstPage2 , .firstPage {
    background-color: rgb(203, 187, 158);
    background-image: url("../images/patern-background.png");
    background-size: cover;
    position: absolute;
    border-radius: 10px;
    border: #fff 2px solid;
    text-align: center;
}

.generalPage  , .tarjomeh , .nameGod , .endPage , .firstPage2 , .firstPage {
    display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
} 


.select_soreh, .input_number {
  background-color: rgb(203, 187, 158);
  border: 1px solid rgb(116, 0, 0);
  border-radius: 10px;
  margin: auto;
  text-align: center;
}

.generalPage  {
    background-image: url("../images/general.png");
    background-size: cover;
    border-radius: 0;
    border: 0px solid #000;
    color: rgb(116, 0, 0);
}

.firstPage {
    background-image: url("../images/first.png");
    background-size: cover;
    border-radius: 0;
    border: 0px solid #000;
}

.firstPage2 {
    background-image: url("../images/first2.png");
    background-size: cover;
    border-radius: 0;
    border: 0px solid #000;
}

.endPage {
    background-image: url("../images/end.png");
    background-size: cover;
    border-radius: 0;
    border: 0px solid #000;
}

.nameGod {
    background-image: url("../images/nameGod.png");
    background-size: cover;
    border-radius: 0;
    border: 0px solid #000;
}

.tarjomeh {
    background-image: url("../images/tarjomeh.png");
    background-size: cover;
    border-radius: 0;
    border: 0px solid #000;
}


.firstPageInf , .firstPageInf1, .firstPageInf2, .firstPageInf3,.firstPageInf4 , .firstPageInf5, .firstPageInf6, .firstPageInf7, .firstPageInf8, .firstPageInf9,.firstPageInf10 , .firstPageInf11, .firstPageInf12, .firstPageInf13, .firstPageInf14, .firstPageInf15,.firstPageInf16 , .firstPageInf17, .firstPageInf18, .firstPageInf19, .firstPageInf20, .firstPageInf21{
  color: rgb(116, 0, 0);
  position: fixed;  
  line-height: 130%;
}

.widthParagraf1 , .widthParagraf4 , .widthParagraf5 , .widthParagraf6 , .widthParagraf9 , .widthParagraf10 , .widthParagraf11, .widthParagraf14 , .widthParagraf15 , .widthParagraf16{
  color:  #305c95;
  line-height: 130%;
}

#generalPage2 {
    background-image: url("../images/general2.png");
}

#firstPage3 {
    background-image: url("../images/first3.png");
}

#firstPage4 {
    background-image: url("../images/first3.png");
}

#endPage2 {
    background-image: url("../images/end2.png");
}

#nameGod2 {
    background-image: url("../images/nameGod2.png");
}

#tarjomeh2 {
    background-image: url("../images/tarjomeh2.png");
}



.subject , .subjectFP ,  .matn_tarjomeh , .numberPage, .numberPageFP{
  position: fixed;
  color: rgb(116, 0, 0);
}

.matn_tarjomeh {
  text-align: center;
}

.generalPart4 , .generalPart2 {
  background-color: #fff;
  opacity: 65%;
  border-radius: 10px;
  border: rgb(116, 0, 0) 1px solid;
  margin: auto;
}

.firtsoreh {
  opacity: 100%;
  border: #000 solid 0px;
  border-radius: 0px;
}

.bt-control{
	width: auto;
	padding: 10px;
  margin: 0;
  border: #fff 3px solid;
  border-radius: 5px;
}

.bt-control:hover{
	background-color: rgb(203, 187, 158);
  border: #fff 3px solid;
}

.infsoreh {
  position: absolute;
}